<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<th:block th:fragment="headerfiles">
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/lib/bootstrap.min.css}" />
	<script th:src="@{/lib/bootstrap.min.js}"></script>
	<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</th:block>
</head>

<body>

	<div th:fragment="header">
		<a th:href="@{/ShowAllProjetList}">Header</a>
	</div>

	<div th:fragment="footer">
		<div>
			<a th:href="@{/ShowAllProjetList}">Footer</a>
		</div>
	</div>

</body>
</html>