<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<th:block th:fragment="headerfiles">
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/lib/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</th:block>
</head>

<body>

	<div th:fragment="header">
		<header class="margin-header">
			<nav class="navbar navbar-dark bg-info fixed-top header-footer-color">
				<div id="logoDiv" class="navbar-form navbar-left image-backgournd-color ">
					<a href="#" title="Lien accueil"><img
						class="navbar-brand"
						src="/images/LogoHealtyHeart.png" alt="Logo Healty Heart"
						width="50"> </a>
						<a href="#" title="Lien accueil"><img
						class="navbar-brand image-backgournd-color"
						src="/images/TitreHealtyHeart.png" alt="Logo Healty Heart"
						width="200"> </a>
				</div>

				<a class="navbar-brand" href="#">Navbar</a> <a class="navbar-brand"
					href="#">Navbar</a>


				<div class="navbar-form navbar-right" id="rechercheDiv">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Rechercher..." name="searchString">
						<div class="input-group-btn" id="search2">
							<button class="btn btn-primary" type="submit">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  							<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
							</button>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</div>

	<div th:fragment="footer">
		<footer class="margin-footer">
			<nav
				class="navbar navbar-dark bg-info fixed-bottom header-footer-color">
				<a class="navbar-brand" href="#">Navbar</a>
			</nav>
		</footer>
	</div>

</body>
</html>