body {
    background-color: #eee
}

label{ 
	margin-right: 15px; 
}

/* DEBUT >>> formulaire des differents dons */
.formu{
	display:none;
}
.form-group{
	padding-bottom: 9px;
  	margin: 5px 0 5px;
}
/* FIN >>> formulaire des differents dons */

/* DEBUT >>> Commentaires List */
.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
/* FIN >>> Commentaires List */

/*DEBUT >>> test formulaire registration */
.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    text-indent: 24px;
    font-size: 15px
}
/*FIN >>> test formulaire registration */