<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<th:block th:replace="../static/layout :: headerfiles"></th:block>
<title>Ajouter don</title>
<script th:src="@{/js/radioButtonTypeDon.js}"></script>
</head>

<body>
	<div th:replace="../static/layout :: header"></div>
		
	<h2>Ajouter don</h2>
	<hr>
	<div>
        <label>
        	<input class="form-check-input" type="radio" name="donRadio" value="monetaire"> 
        	Don Monetaire
        </label>
        <label>
        	<input class="form-check-input" type="radio" name="donRadio" value="materiel"> 
        	Don Materiel
        </label>
        <label>
        	<input class="form-check-input" type="radio" name="donRadio" value="temps"> 
        	Don Temps
        </label>
    </div>
	<hr>

	<!-- don monetaire form -->
	<div class="monetaire formu">
		<h5>Don Monetaire form</h5>
		<form action="#" th:action="@{/don/sauvegarderDonMonetaire}" 
				method="POST" th:object="${donForm}">
			<input type="hidden" th:field="*{participationProjet.projet.idProjet}" />
			<div>
				<div class="form-check form-switch">
					<input type="checkbox" th:field="*{anonyme}" class="form-check-input" /> 
					<label>Don anonyme</label>
				</div>
			</div>
			<label>Montant:</label> 
			<input type="text" th:field="*{donMonetaire.montant}" /> 
			<br> 
			<input type="submit" value="Ajouter" class="btn btn-primary" /> 
			<br> 
			<input type="reset" value="Reset fields" class="btn btn-light" />
		</form>
	</div>

	<!-- don materiel form -->
	<div class="materiel formu">
		<h5>Don Materiel form</h5>
		<form action="#" th:action="@{/don/sauvegarderDonMateriel}" class="materiel formu"
				th:object="${donForm}" method="POST">
			<input type="hidden" th:field="*{participationProjet.projet.idProjet}" />
			<div>
				<div class="form-check form-switch">
					<input type="checkbox" th:field="*{anonyme}" class="form-check-input" /> 
					<label>Don anonyme</label>
				</div>
			</div>
			<label>Libelle: </label> 
			<input type="text" th:field="*{donMateriel.libelle}" /> 
			<label>Montant: </label> 
			<input type="text" th:field="*{donMateriel.montant}" /> 
			<label>Quantite:</label> 
			<input type="text" th:field="*{donMateriel.quantite}" /> 
			<br> 
			<input type="submit" value="Ajouter" class="btn btn-primary" /> 
			<br> 
			<input type="reset" value="Reset fields" class="btn btn-light" />
		</form>	
	</div>

	<!-- don temps form -->
	<div class="temps formu" >
		<h5>Don Temps form</h5>
		<form action="#" th:action="@{/don/sauvegarderDonTemps}" class="temps formu"
				th:object="${donForm}" method="POST">
			<input type="hidden" th:field="*{participationProjet.projet.idProjet}" />
			<div>
				<div class="form-check form-switch">
					<input type="checkbox" th:field="*{anonyme}" class="form-check-input" /> 
					<label>Don anonyme</label>
				</div>
			</div>
			<label>Nombre d'heures : </label> 
			<input type="text" th:field="*{donTemps.nbHeures}" /> 
			<br> 
			<input type="submit" value="Ajouter" class="btn btn-primary" /> 
			<br> 
			<input type="reset" value="Reset fields" class="btn btn-light" />
		</form>	
	</div>

	<br>	
	<div th:replace="../static/layout :: footer"></div>
</body>