<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<th:block th:replace="../static/layout :: headerfiles"></th:block>
<title>Ajouter don</title>
</head>
<body>
<div th:replace="../static/layout :: header"></div>
	<h2>Ajouter don (bouton anonyme a ajouter)</h2>
	<hr>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault"
			id="flexRadioDefault1"> <label class="form-check-label"
			for="flexRadioDefault1"> Don Monetaire </label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault"
			id="flexRadioDefault2" checked> <label
			class="form-check-label" for="flexRadioDefault2"> Don Materiel </label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault"
			id="flexRadioDefault3" checked> <label
			class="form-check-label" for="flexRadioDefault3"> Don Temps </label>
	</div>
	<hr>
	
					<!-- don monetaire form -->
					<h5>Don Monetaire form</h5>
	<form action="#" th:action="@{/don/sauvegarderDonMonetaire}"
		 method="POST">
		<input type="hidden" th:field="*{partProjet.Projet.idProjet}" />
		<label>Montant: </label> <input type="text" th:field="*{donMonetaire.montant}" />
		<br> 
		<input type="submit" value="Ajouter" class="btn btn-primary" />
		<br> 
		<input type="reset" value="Reset fields" class="btn btn-light" />
	</form>

	<hr>
					<!-- don materiel form -->
					<h5>Don Materiel form</h5>
	<form action="#" th:action="@{/don/sauvegarderDonMateriel}"
		th:object="${donMateriel}" method="POST">
		<label>Libelle: </label> 
		<input type="text" th:field="*{libelle}" />
		<label>Montant: </label> 
		<input type="text" th:field="*{montant}" />
		<label>Quantite: </label> 
		<input type="text" th:field="*{quantite}" />
		<br> 
		<input type="submit" value="Ajouter" class="btn btn-primary" /> 
		<br> 
		<input type="reset" value="Reset fields" class="btn btn-light" />
	</form>
	
	<hr>
					<!-- don temps form -->
					<h5>Don Temps form</h5>
	<form action="#" th:action="@{/don/sauvegarderDonTemps}"
		th:object="${donTemps}" method="POST">
		<label>Nombre d'heures : </label> 
		<input type="text" th:field="*{nbHeures}" />
		<br> 
		<input type="submit" value="Ajouter" class="btn btn-primary" /> 
		<br> 
		<input type="reset" value="Reset fields" class="btn btn-light" />
	</form>	
	
	
	<a th:href="@{/afficherListeDesDon}">Back to List</a>
	<br>
<div th:replace="../static/layout :: footer"></div>
</body>