<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<th:block th:replace="../static/layout :: headerfiles"></th:block>
<title>Index</title>
</head>
<body id="page-top" class="index">
	<div th:replace="../static/layout :: header"></div>
	<div id="headerwrap" class="fullheight no-overlay default-bg">
		<div class="container vertical-center">

			<br />
			<br />
			<br />
			<br />
			<br />
			<div class="container">
				<h1>HOME Starter</h1>

				<div th:if="${isConnected}">
					<label>Utilisateur connecté : <label
						th:text=" ${Utilisateur.email} + ' (' + ${Utilisateur.prenom} + ' ' +  ${Utilisateur.nom} + ')'" />
						<br />
					<a th:href="@{/deconnexion}" class="btn btn-primary">Deconnexion</a>

						<div th:if="${nbMsg != -1}">
							<a class="btn btn-primary" href="/afficherListeUserMessages/"
								th:text="'Messageie (' + ${nbMsg} + ' message(s) non lu(s)'"></a>
						</div>


						<div th:if="${isAdmin}">
							<a class="btn btn-primary" href="/ShowAllProjetList/">Liste Projets</a>
						</div>
				</div>

	
			</div>
		</div>
	</div>
	<div th:replace="../static/layout :: footer"></div>
</body>
</html>