<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<th:block th:replace="../static/layout :: headerfiles"></th:block>
<title>Liste Projet By User</title>
</head>
<body>
	<div th:replace="../static/layout :: header"></div>

	<div class="container">
		<fieldset>
			<h1 class="text-center">Liste de vos Projets</h1>


			<!-- 			<span th:text="${message}"></span> <label
				th:text="${prenomUtilisateur}"></label>  -->

			<hr />
			<div class="row">
				<div class="col-1"></div>
				<div class="col-9"></div>
				<div class="col-2">
					<a th:href="@{/}" class="btn btn-link">Retour Index</a>
				</div>
			</div>

			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>Photo Principale</th>
						<th>Titre</th>
						<th>Montant Collecté</th>
						<th>Montant Attendu</th>
						<th>StatutProjet</th>
						<th>Don matériel</th>
						<th>Don temps</th>
						<th>Portefeuille</th>
						<th>Date maj</th>
						<th>Date fin</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="projet : ${listProjetByPP}">
						<td></td>
						<td th:text="${projet.titre}"></td>
						<td th:text="${projet.montantCollecte}"></td>
						<td th:text="${projet.montantAttendu}"></td>
						<td th:text="${projet.statutDuProjet}"></td>
						<td th:text="${projet.donMateriel}?'Oui':'Non'"></td>
						<td th:text="${projet.donTemps}?'Oui':'Non'"></td>
						<td th:text="${projet.portefeuilleprojet.libelle}"></td>
						<td th:text="${#calendars.format(projet.dateMaj,'dd MM yyyy HH:mm')}"></td>
						<td th:text="${projet.dateFin}"></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
	<div th:replace="../static/layout :: footer"></div>


</body>
</html>