<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<title>List des Utilisateurs</title>
</head>
<body>

	<a th:href="@{/ShowNewProjetForm}">Add Utilisateur</a>

	<table>
		<thead>
			<tr>
				<th>Email</th>
				<th>Mot de passe</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Action</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="utilisateur : ${listUtilisateur}">
				<td th:text="${utilisateur.email}"></td>
				<td th:text="${utilisateur.mdp}"></td>
				<td th:text="${utilisateur.nom}"></td>
				<td th:text="${utilisateur.prenom}"></td>
				<td><a th:href="@{/ModifierUtilisateurForm}">Modifier</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>