<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<title>List des Projets</title>
</head>
<body>

	<a th:href="@{/ShowNewProjetForm}">Add Projet</a>

	<table>
		<thead>
			<tr>
				<th>Titre</th>
				<th>Description Courte</th>
				<th>Description Longue</th>
				<th>Montant Attendu</th>
				<th>Montant Collecté</th>
				<th>Date maj</th>
				<th>Date fin</th>
				<th>StatutProjet</th>
				<th>Don matériel</th>
				<th>Don temps</th>
				<th>Portefeuille</th>
				<th>Catégorie</th>
				<th>Action</th>
				<th>Action</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="projet : ${listProjet}">
				<td th:text="${projet.titre}"></td>
				<td th:text="${projet.descriptionCourte}"></td>
				<td th:text="${projet.descriptionLongue}"></td>
				<td th:text="${projet.montantAttendu}"></td>
				<td th:text="${projet.montantCollecte}"></td>
				<td th:text="${projet.dateMaj}"></td>
				<td th:text="${projet.dateFin}"></td>
				<td th:text="${projet.statutDuProjet}"></td>
				<td th:text="${projet.donMateriel}"></td>
				<td th:text="${projet.donTemps}"></td>
				<td th:text="${projet.portefeuilleprojet}"></td>
				<td th:text="${projet.categorie}"></td>
				<td><a th:href="@{/showNewPictureForm/{id}(id=${projet.idProjet})}">Add Image</a></td>
				<td><a th:href="@{/showUpdateForm/{id}(id=${projet.idProjet})}">Update</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>