<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">

<title>Importer les images pour le projet</title>
</head>
<body>
	<h1>Importer des images du projet dans la db</h1>

	<form action="#" th:action="@{/NewUploadPicture}" method="POST"
		enctype="multipart/form-data">

		<!-- Add hidden form field to handle update -->
		<input type="hidden" th:field="*{docform.projet}" />
		<input type="hidden" th:field="*{docform.document.projet}" />

		<div>Libelle image</div>
		<select th:id="ImageComboBox" th:field=*{docform.libelImage}>
			<option value="0">Selection image Projet</option>
			<option value="1">Image Principale</option>
			<option value="2">Seconde Image</option>
			<option value="3">Troisieme Image</option>
		</select>

		<br /> <input th:type="file"
			accept="image/jpg, image/jpeg"
			th:field="*{docform.image}" placeholder="Selection de l'image">

		<br />
		<button type="submit">Enregister l'image</button>
		
		<br/><span th:text="${msgerr}"/>	<br/>

	</form>
	
	<div th:if="${docform.image1 != -1}">
		<hr/>
		<label>Libelle : Image Principale</label><br/>
		<img th:src="@{/viewImage/{id}(id=${docform.image1})}" alt="Image_Principale_projet" style=max-width:100%;height:auto;>
		<br/>
		<form action="#" th:action="@{/DelUploadPicture/{id}(id=${docform.image1})}" method="POST">
			<button type="submit">Supprimer Image Principale</button>
		</form>	
	</div>
	
	<div th:if="${docform.image2 != -1}">
		<hr/>
		<label>Libelle : Seconde Image</label><br/>
		<img th:src="@{/viewImage/{id}(id=${docform.image2})}" alt="Seconde_Image_projet" style=max-width:100%;height:auto;>
		<br/>
		<form action="#" th:action="@{/DelUploadPicture/{id}(id=${docform.image2})}" method="POST">
			<button type="submit">Supprimer Seconde image</button>
		</form>	
	</div>
	
	<div th:if="${docform.image3 != -1}">
		<hr/>
		<label>Libelle : Troisieme Image</label><br/>
		<img th:src="@{/viewImage/{id}(id=${docform.image3})}" alt="Image_projet" style=max-width:100%;height:auto;>
		<br/>
		<form action="#" th:action="@{/DelUploadPicture/{id}(id=${docform.image3})}" method="POST">
			<button type="submit">Supprimer Troisieme image</button>
		</form>	
	</div>
	

</body>
</html>