<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<title>Detail d'un message recu</title>
</head>
<body>
		<h2>Détails sur message recu</h2>
	<hr>
		<label>Titre: </label>
		<input type="text" disabled th:field="${message.titre}"/>
		</br>
		<label>Emetteur : </label>
		<input type="text" disabled th:field="${message.emetteur.email}"/>
					
		<br/>
		<label>Date/Heure emission: </label>
		<input type="text" disabled th:field="${message.date}"/>
		</br>
		<label th:text="${infoLu}"/><br/>
		<label>Contenu message : </label><br/>
		<textarea rows="5" cols="33" disabled th:field="${message.contenu}"/>
		</br>
		
	<a th:href="@{/afficherListeUserMessages}">retour à la liste</a>

</body>
</html>